body { 
	font-family: monospace; 
	text-align: left; 
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

main { 
	padding: 20px; 
} 
	
	body {
		font-size: 14px;
		line-height: 1.6;
		margin-top: 1.25em;
		margin-left: 2em;
		max-width: 20em;
	}

	@media (prefers-color-scheme: light) {
		body {
			color: rgb(0, 0, 0);
			background: white;
		}

		a {
			color:  #6b6c57 var(--clay);
			text-shadow: 0pt 0pt 20pt #AAA4;
		}

		a:hover {
			background-color: color(display-p3 0.603 0.173 0.153);
			color: #ffffff;

		}
	}

	@media (prefers-color-scheme: dark) {
		body {
			color: #ffffff;
			background: #000000;
		}

		a {
			color: #b4b4b4;
			text-shadow: 0pt 0pt 20pt #AAA4;
		}

		a:hover {
			background-color: color(display-p3 0.603 0.173 0.153);
			color: #ffffff;
		}

	}

	h1 {
		font-size: 18px;
		line-height: 1.25em;
	}

	ul {
		padding: 0;
		margin-left: 0;
		list-style-type: none;
	}

	.cursor {
		position: relative;
		display: inline-block;
		color: white;
	}

	.cursor::after {
		content: "";
		top: 0;
		right: -15px;
		display: inline-block;
		background-color: #606060;
		vertical-align: top;
		width: 10px;
		/* Set height to the line height of .text */
		height: 18px;
		-webkit-animation: blink 1s step-end infinite;
		animation: blink 1s step-end infinite;
	}

	@-webkit-keyframes blink {
		0% {
			opacity: 1.0;
		}

		50% {
			opacity: 0.0;
		}

		100% {
			opacity: 1.0;
		}
	}

	@keyframes blink {
		0% {
			opacity: 1.0;
		}

		50% {
			opacity: 0.0;
		}

		100% {
			opacity: 1.0;
		}
	}

	table,
	th,
	td {
		border: 0px solid;
	}