:root {
  --my-color-variable: #000000;
}

.element {
  /* This is calculated as #000000! */
  color: var(--my-color-variable);
}

:root {
  --color-bg: #ffffff;
  --color-fg: #000000;
}

.content {
		padding-right: 10%;
		padding-left: 10%;
		margin: auto;
		font-family: monospace;
}

@media (min-width: 600px) {
  .content {
	  	padding-right: 30%;
		padding-left: 30%;
		margin: auto;
		font-family: monospace;
	}
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000000;
    --color-fg: #ffffff;
  }
}

a { 
	color: #a00;
}

b {
font-size: 120%;
}

.dark-mode {
  background-color: black;
  color: white;
}

@media (max-width: 480px){
    body {
		margin: auto;
		font-family: monospace;
		font-size: 1.1em;
    }

 }